
@{
    ViewData["Title"] = "DisplayValue";
}
@model  Assignmnet2.Models.Values
<h1>After Calculations</h1>

<html >
    <head >
        <body >
            
            <br>  Result of Addition = @Model.add
            <br> 
            Result of Subtraction = @Model.sub
            <br> 
            Result of Multiplication = @Model.mul
            <br> 
            Result of Division = Quotient = @Model.divQue Reminder = @Model.divRem
        </body>
    </head>
</html>


